*.gv
/TVB/Hagmannetal2008.gv.png
/TVB/Hagmannetal2008*.png
*.pov
*.ini
.DS_Store
/Allen/*.nml*.png
/Allen/*.gv.png
/Allen/*.r.dat
/Allen/*v.dat
/Allen/x86_64
/Allen/time.dat
*.mod
*_nrn.py
report.*txt
