*.gv
/TVB/Hagmannetal2008.gv.png
/TVB/Hagmannetal2008*.png
*.pov
*.ini
.DS_Store
/Allen/*.nml*.png
/Allen/*.gv.png
/Allen/*.r.dat
/Allen/*v.dat
/Allen/x86_64
/Allen/time.dat
*.mod
*_nrn.py
report.*txt
/Allen/DetailedCell1.json
*.svg
/Allen/DetailedTest.json
/Allen/Full.json
/Allen/LEMS_Sim_*.xml
/Allen/*.hoc
/Allen/Thalamus.json
/Allen/VIS.json
/Allen/OlfactoryAreas.json
/Allen/OlfactoryAreas.net.nml
